<%@user = current_user%>
<%@plan = Plan.all%>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
  <%= link_to 'Billing And Payment' , root_path, class: "navbar-brand"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <% if user_signed_in?%>

          <% if @user.userType == 'admin'%>
            <%= link_to 'Buyers ' ,  users_path, class: "navbar-brand"%>
            <%= link_to 'Invite Buyer ' ,  new_user_invitation_path, class: "navbar-brand"%>
          <%else%>
            <%= link_to 'Subcriptions' ,user_plan_subscriptions_path(@user.id,@plan),  class: "navbar-brand"%>
          <%end%>
          <%= link_to 'Plans' ,user_plans_path(@user.id),  class: "navbar-brand"%>

          <%= link_to 'Sign Out ' ,  destroy_user_session_path, method: :delete, class: "navbar-brand"%>

        <% else %>
<         <%= link_to 'Sign In ' , user_session_path, class: "navbar-brand"%>
        <%end%>
        </li>
      </ul>
    </div>
  </div>
</nav>
