<br/>
<br/>
<table class='table table-striped'>
  <thead>
    <tr>
      <th>PLANS</th>
     <th>FEATURES</th>
      <th>AMOUNT</th>
      <th>MAX LIMIT</th>
      <th>INCREASED LIMIT</th>
    </tr>
  </thead>
  <tbody>
    <% @usages.each do |usage| %>
        <tr>
        <td><%= usage.plan_name %></td>
        <td><%= usage.features_name %></td>
        <td><%= number_to_currency(usage.amount.to_i / 100) %></td>
        <td><%= usage.feature_max_limit %></td>
        <td><%= usage.increased_units %></td>
        <td><%= link_to 'CHANGE LIMIT +',edit_user_usage_path(@user.id ,usage.id) ,class: 'btn btn-dark'%></td>
        </tr>
    <% end %>
  </tbody>
</table>
<br>


