<table class='table table-striped'>
  <thead>
    <tr>
     <th>NAME</th>
      <th>CODE PRICE PER UNIT</th>
      <th>PRICE PER UNIT</th>
      <th>MAX LIMIT</th>
      <th colspan = '2'>
      </tr>
  </thead>

  <tbody>
    <% @features.each do |feature| %>
        <tr>
          <td><%= feature.name %></td>
          <td><%= feature.code %></td>
          <td><%= number_to_currency(feature.unit_price /  100)%></td>
          <td><%= feature.max_unit_limit %></td>
          <%if @user.user_type == 'admin'%>
            <td><%= link_to 'Edit',  edit_user_plan_feature_path(@user.id, @plan, feature), class: 'btn btn-dark' %></td>
            <td><%= link_to 'Delete',user_plan_feature_path(@user, @plan, feature), class: 'btn btn-dark', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          <%end%>
        </tr>
    <% end %>
  </tbody>
</table>
<br>
